:root {
    --theme-bl: #235690;
    --theme-rd: #D90148;
    --theme-wh: white;
    --bl-txt: #0269B3;

    --mid-bl: #5B95D7;
    --light-bl: #cedff3;
    --dark-bl: #143152;
    --news-text: #1C4473;

    --h3-color: #ade1f2f2;
}

h1 {
    line-height: 1.25em;
}

.title h2 {
    width: 98%;
    font-size: 30px;
    text-align: end;
    justify-self: end;
    color: var(--h3-color);
    margin: 1%;
}

.container {
    padding: 5% 3% 5% 2%; /* don't touch this / made to align with .title */
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

/* welcome letter  */
.message {
    width: 90vw;
    display: block;
    justify-content: center;
}

.message p {
    margin-top: unset;
    color: var(--bl-txt);
    font-size: 18px;
    text-align: center;
    /* font-weight: 500; */
    line-height: 32px;

    /* for open sans ----  */
    font-weight: 400;
    letter-spacing: 0.2px;
}

.keywords {
    /* font-weight: 800; */
    margin-top: unset;

    /* for open sans------  */
    font-weight: 600;
    font-style: italic;
}

/* SECTIONS GENERAL DESIGN ---- */

h2.section {
    text-align: left;
    color: var(--theme-bl);
    font-size: 30px;
    margin-bottom: unset;
    width: calc(100% - 5%);
}

.section {
    margin: 1.5% 2.5%; /* don't touch this / made to align with .title */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.section.bod {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.section a {
    color: var(--theme-rd);
}

.section a:hover {
    color: var(--theme-bl);
}

/* bod section ---------- */
.section.bod img {
    width: calc(55% - 10px);
    margin: 5px;
    border-radius: 5px;
}

.section.bod p {
    width: calc(40% - 10px);
    margin: 5px;
    color: var(--dark-bl);
    line-height: 1.5em;
}

/* role and name design for both BOD AND GSAA ------- */
.section p .role {
    font-weight: bold;
    line-height: 1.7em;
}

.section p .name {
    font-style: italic;
}

/* gsaa section css ---  */
.section h3 {
    margin: 10px 0;
    font-size: 20px;
    color: var(--bl-txt);
}

.section.gsaa p {
    line-height: 1.5em;
    margin-bottom: 10px;
}

/* COMMITTEES AND ISSUES SECTION -------- */
.section.cai .per-committee {
    margin: 10px 0;
    padding: 10px 0;
}

/* committee name titles  */
.section.cai h3 {
    padding-left: 15px; /* align with h4 and tale */
    border-left: 5px solid var(--theme-rd);
}

/* stoff names */
.section.cai h4 {
    font-weight: lighter;
    font-size: 14px;
    color: var(--dark-bl);
    margin-top: 3px;
    letter-spacing: 0.5px;

    padding-left: 20px; /* align with h3 + h3 border and table */
    margin-bottom: 10px;
}

.section.cai .issues table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 20px 5px; /* ensure first value aligns with h4 */
    color: var(--dark-bl);
}

.section.cai .issues table .issue-num {
    width: 50px
}

.section.cai .issues table .issue-name {
    width: calc(100% - 100px);
}

/* gsaa section -----  */
.section.gsaa .speakers table {
    width: calc(100% - 20px);
    border-collapse: separate;
    border-spacing: 10px 5px;

    padding-left: 15px;
    border-left: 5px solid var(--theme-bl);
}

.section.gsaa .speakers td {
    line-height: 1.2em;
}

.section.gsaa .speakers td.committee {
    font-weight: bold;
    color: var(--news-text);
}

.section.gsaa .speakers td.speaker-name {
    font-style: italic;
}
.section.gsaa .speakers td.title {
    background-color: unset;
}

/* stats section -----  */
.section.statistics {
    padding-left: 20px;
}

.section.statistics ul {
    line-height: 140%;
    color: var(--dark-bl);
}

.section.statistics .stats-name {
    font-weight: 600;
}

/* Mobile support */

@media screen and (max-width: 767px) {
    .welcome {
        display: block;
        flex-direction: unset;
        padding: 1.5%;
        width: fit-content;
    }

    .message {
        width: 90%;
        margin-left: 5vw;
    }

    .message p {
        font-size: 15px;
        /* font-weight: 600; don't override default font design settings*/
    }

    .container {
        flex-direction: column;
        justify-content: space-evenly;
    }

    h1 {
        width: unset;
        padding: 5%;
        padding-left: 2%;
        padding-bottom: none;
        /* font-size: 50px; why does mobile have larger titles than laptop?? 50px is kinda too big for a phone i think*/
    }    

    h2, h2.section {
        width: calc(100% - 5%);
        padding-left: 2%;
        padding-bottom: 3%;
        /* padding-right: unset; */
        margin: 1px;
        font-size: 25px;
    }

    .section.bod {
        display: flex;
        flex-direction: column;
    }

    .section.bod img, .section.bod p {
        width: 95%;
    }

    .f_contact {
        margin-right: none;
        padding-right: none;
    }

    ul.f_contact {
        margin: unset;
        padding: unset;
    }
}
